#dummy {
  height: 100vh;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--black0);
}
/* variables */
:root {
  --black0: #000000;
  --black1: #111111;
  --black3: #333333;
  --black7: #777777;
  --whiteF: #ffffff;
}

/* utilitis */
.text-white {
  color: var(--whiteF);
}
/* buttons */
.btn {
  background-color: var(--black0);
  height: 50px;
  width: 152px;
  color: var(--whiteF);
  cursor: pointer;
}
a.btn {
  padding: 14px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.btn-sm {
  height: 30px;
  width: 97 px;
}
.btn-lg {
  width: 204px;
}
.btn-xl {
  width: 324px;
}

.text-bold {
  font-weight: 800;
}

/* top News Letter banner */

#newsletter-banner {
  background-color: var(--black0);
  border: 1px solid #000;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#newsletter-banner a {
  text-decoration: none;
}

/* nav area */

#nav-area {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
}
#nav-area .logo {
  font-size: 32px;
  cursor: pointer;
}
#nav {
  display: flex;
  gap: 200px;
  justify-content: space-around;
}

#main-nav {
  margin: auto 0;
}
#main-nav ul {
  display: flex;
  gap: 30px;
}
#main-nav ul li {
  list-style: none;
  padding-bottom: 3px;
}
#main-nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--black0);
}
#main-nav ul li:hover {
  border-bottom: 1px solid var(--black1);
}

#icon-nav ul {
  display: flex;
  gap: 21px;
}
#icon-nav ul li {
  list-style: none;
  cursor: pointer;
}
#icon-nav ul li a {
  text-decoration: none;
}

/* msg icon correction */
#icon-nav > ul > li:nth-child(4) > img {
  margin-top: 5px;
}

/* hero slider 1 */

#hero-slider-area {
  padding: 0 0px;
}

.hero-1 {
  /* width: 100%; */
  height: 85vh;
  padding: 0 2%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* overflow: hidden; */
}
#hero-slider-area .slick-track {
  height: 85vh;
  position: relative;
}
.slider-1 {
  background: url(img/hero-1.jpg);
}
.slider-2 {
  background: url(img/hero-2.jpg);
  align-items: end;
}
.slider-3 {
  background: url(img/hero-3.jpg);
}
.hero-slider-1-arrow {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
}
.left-arrow-white {
  left: 30px;
}
.right-arrow-white {
  right: 30px;
}

/* shop collection area */

.collection-heading-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 250px;
}

/*  home image carousel*/

.image-carousel-1 {
  padding: 0 60px;
}
.image-carousel {
  margin: 0 5px;
  height: 315px !important;
  width: 315px !important;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.image-carousel img {
  height: 150%;
}
.image-carousel-arrow {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
}

.left-arrow-black {
  left: 10px;
}
.right-arrow-black {
  right: 10px;
}
/* signup offer */
#home-offer-and-signup-area {
  background-image: url(img/home-signup-offer.jpg);
  background-size: 100% 180%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 30px;
  height: 513px;
  margin: 40px auto;
  padding: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
#home-offer-and-signup {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
}

/* home display images */

#home-display-image-wrapper {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  /* padding: 0px 32px; */
}
.home-display-image {
  width: 210px;
  height: 210px;
  overflow: hidden;
}
.home-display-image img {
  width: 100%;
}

/* horizontal-line-before-footer-form */
#horizontal-line-before-home-form hr {
  margin: 50px auto;
  width: 82vw;
  margin-top: 120px;
}
#footer-social-signup-form {
  display: flex;
  padding: 0 132px;
  justify-content: space-between;
}
#social-button-area {
  display: flex;
  gap: 29px;
  margin-left: 80px;
}
