#dummy {
  height: 100vh;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--black0);
}
/* variables */
:root {
  --black0: #000000;
  --black1: #111111;
  --black3: #333333;
  --black7: #777777;
  --whiteF: #ffffff;
  --whitec4: #c4c4c4;
  --whiteef: #efefef;
  --whiteec: #ececec;
  --whitee7: #e7e7e7;
}

/* utilitis */
.text-white {
  color: var(--whiteF);
}
/* buttons */
.btn {
  background-color: var(--black0);
  height: 50px;
  width: 152px;
  color: var(--whiteF);
  cursor: pointer;
}
a.btn {
  padding: 14px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.btn-sm {
  height: 30px;
  width: 97 px;
}
.btn-lg {
  width: 204px;
}
.btn-xl {
  width: 324px;
}

.text-bold {
  font-weight: 800;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}

/* top News Letter banner */

#newsletter-banner {
  background-color: var(--black0);
  border: 1px solid #000;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#newsletter-banner a {
  text-decoration: none;
}

/* nav area */

.hamburger-icon {
  display: none;
}
.cross-icon {
  position: absolute;
}
#nav-area .cross-icon img {
  display: none;
}
#nav-area {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
  background-color: var(--whiteF);
}
#nav-area .logo a {
  font-size: 32px;
  cursor: pointer;
  text-decoration: none;
}
#nav {
  display: flex;
  gap: 150px;
  justify-content: space-around;
}

#main-nav {
  margin: auto 0;
}
#main-nav ul {
  display: flex;
  gap: 30px;
}
#main-nav ul li {
  list-style: none;
  padding-bottom: 3px;
}
#main-nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--black0);
}
#main-nav ul li:hover {
  border-bottom: 1px solid var(--black1);
}

#icon-nav ul {
  display: flex;
  gap: 21px;
}
#icon-nav ul li {
  list-style: none;
  cursor: pointer;
}
#icon-nav ul li a {
  text-decoration: none;
}

/* msg icon correction */
#icon-nav > ul > li:nth-child(4) > img {
  margin-top: 5px;
}

/* page when scrolled 
======================
======================
======================*/

.nav-wrapper.page-scrolled #nav-area {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--whiteF);
  width: 100vw;
}

.hero-slider-area.page-scrolled {
  margin-top: 35px;
}

/* hero slider 1 */

#hero-slider-area {
  padding: 0 0px;
}

.hero-1 {
  /* width: 100%; */
  height: 85vh;
  padding: 0 2%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* overflow: hidden; */
}
#hero-slider-area .slick-track {
  height: 85vh;
  position: relative;
}
.slider-1 {
  background: url(img/hero-1.jpg);
}
.slider-2 {
  background: url(img/hero-2.jpg);
  align-items: end;
}
.slider-3 {
  background: url(img/hero-3.jpg);
}
.hero-slider-1-arrow {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
}
.left-arrow-white {
  left: 30px;
}
.right-arrow-white {
  right: 30px;
}

/* shop collection area */

.collection-heading-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 250px;
}

/*  home image carousel*/

.image-carousel-1 {
  padding: 0 60px;
}
.image-carousel {
  margin: 0 5px;
  height: 315px !important;
  width: 315px !important;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.image-carousel img {
  height: 150%;
}
.image-carousel-arrow {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
}

.left-arrow-black {
  left: 10px;
}
.right-arrow-black {
  right: 10px;
}
/* signup offer */
#home-offer-and-signup-area {
  background-image: url(img/home-signup-offer.jpg);
  background-size: 100% 180%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 30px;
  height: 513px;
  margin: 40px auto;
  padding: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
#home-offer-and-signup {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
}

/* home display images */

#home-display-image-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 0px 300px;
}
.home-display-image {
  width: 210px;
  height: 210px;
  overflow: hidden;
}
.home-display-image img {
  width: 100%;
}

/* horizontal-line-before-footer-form */
#horizontal-line-before-footer-form hr {
  margin: 50px auto;
  width: 82vw;
  margin-top: 120px;
}
#footer-social-signup-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px auto;
  position: relative;
}
#footer-social-signup-form::before,
#footer-social-signup-form::after {
  content: "";
  margin: 0 auto;
  width: 80%;
  height: 1px;
  background: var(--black3);
  position: absolute;
  bottom: -30px;
  left: 10%;
  z-index: 10;
}
#footer-social-signup-form::before {
  top: -30px;
}
#social-button-area {
  display: flex;
  gap: 29px;
  margin-left: 80px;
}
.signup-form-area {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.signup-form-area h4 {
  font-size: 15px;
}
.signup-form-area form .footer-signup-form {
  width: 280px;
  height: 30px;
  border: 0;
  border-bottom: 1px solid black;
}

.signup-form-area form .footer-signup-form::placeholder {
  color: var(--whitec4);
}
/* horizontal-line-after-footer-form */
#horizontal-line-after-footer-form hr {
  margin: 50px auto;
  width: 82vw;
  margin-bottom: 80px;
}

.footer-link-area {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.footer-link-area ul li {
  list-style: none;
  margin-top: 2px;
}
.footer-link-area ul li:first-child {
  margin-top: 15px;
}
.footer-link-area ul li a {
  text-decoration: none;
  font-size: 13px;
  color: var(--black7);
}
.footer-link-area h5 {
  font-size: 10px;
  color: var(--black1);
}
.footer-link-area h6 {
  font-size: 14px;
  color: var(--black7);
}
.footer-link-area p {
  font-size: 13px;
  color: var(--black7);
}
.footer-link-col-2 ul li {
  margin-top: 5px;
}

/* footer copyright */

.footer-copyright-area p {
  margin: 60px auto;
  text-align: center;
  font-size: 11px;
  margin-top: 80px;
  color: var(--black7);
}
.footer-copyright-area p span {
  font-size: 10px;
  color: var(--black3);
  font-weight: 600;
}
/* media queries */
@media screen and (max-width: 1385px) {
  /* nav */
  div#nav {
    gap: 75px;
  }
  /* display images */
  #home-display-image-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  #home-image-carousel .slick-list.draggable {
    overflow: hidden;
    height: 315px;
  }
}
@media screen and (max-width: 1093px) {
  /* .nav-wrapper {
    display: none;
  } */
  /* display images */
  #home-display-image-wrapper {
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 105px;
  }

  #footer-social-signup-form {
    flex-direction: column;
    gap: 40px;
  }
}
@media screen and (max-width: 785px) {
  /* footer */

  div#social-button-area {
    margin: auto;
  }
  .signup-form-area h4 {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
  }

  .footer-link-area.container {
    flex-direction: column;
    gap: 20px;
  }
  /* newsletter banner */
  #newsletter-banner a {
    text-align: center;
    padding: 10px;
  }
  .signup-form-area form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  /* HERO SLIDER */
  .hero-1 {
    align-items: center;
  }
  .hero-1 h2 {
    text-align: center;
  }
  /* display images */
  #home-display-image-wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 15px;
  }

  /* home offer and sign up */
  #home-offer-and-signup-area {
    background-size: 195% 135%;
    background-position: 68% 32%;
  }
  #home-offer-and-signup {
    align-items: center;
  }
  #home-offer-and-signup h2 {
    text-align: center;
  }

  /* home image carousel */
  #home-image-carousel .slick-list.draggable {
    overflow: hidden;
    height: 315px;
  }

  /* home display image */
  #home-display-image-wrapper .home-display-image {
    width: 180px;
    height: 180px;
    overflow: hidden;
  }

  #shop-collection-button-area h2 {
    text-align: center;
  }
}
/* n */
/* a */
/* v */
/* nav */

@media screen and (max-width: 1100px) {
  .cross-icon {
    top: 30px;
    right: 10px;
  }
  .hamburger-icon {
    display: block;
  }
  .hamburger-icon img {
    width: 60px;
    padding: 10px;
  }
  .nav-wrapper #nav {
    display: none;
  }
  .nav-wrapper.mobile-nav #nav {
    background-color: var(--whiteF);
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
  .nav-wrapper.mobile-nav #nav #main-nav ul,
  .nav-wrapper.mobile-nav #nav #icon-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .nav-wrapper.mobile-nav #nav #main-nav ul li a {
    font-size: 40px;
  }
  .nav-wrapper.mobile-nav #nav #icon-nav img {
    width: 65px;
  }
  .nav-wrapper.mobile-nav #nav #icon-nav #product-added-menu-counter {
    font-size: 50px;
  }
  .nav-wrapper.mobile-nav #nav #icon-nav ul li:last-child {
    margin-left: 30px;
  }
  #nav-area .cross-icon img {
    display: block;
    width: 80px;
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 40px;
  }
}
@media screen and (max-width: 500px) {
  .nav-wrapper.mobile-nav #nav #main-nav ul {
    margin-top: 65px;
  }
  .nav-wrapper.mobile-nav #nav #main-nav ul li a {
    font-size: 25px;
  }
  .nav-wrapper.mobile-nav #nav #icon-nav img {
    width: 35px;
  }
  #nav-area .cross-icon img {
    display: block;
    width: 60px;
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 40px;
  }
}

/* shop page */
/* shop page */
/* shop page */
/* shop page */

#page-headline-and-discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 30%;
  margin: 40px auto;
}
.page-headline {
  font-size: 25px;
  font-weight: 700;
  color: var(--black1);
}
.page-discriotion {
  font-size: 14px;
  font-weight: 400;
  color: var(--black7);
  text-align: center;
}
.product-with-sidebar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  padding: 0 25px;
}
.side-bar ul li {
  list-style: none;
  margin-bottom: 15px;
}
.side-bar ul li h3 {
  font-size: 22px;
  font-weight: 600;
}
.side-bar ul li a {
  text-decoration: none;
  tab-size: 15px;
  line-height: 31px;
  padding-bottom: 2px;
}
.side-bar ul li a:hover {
  border-bottom: 1px solid var(--black0);
}
.bread-crum-with-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.faded-text {
  color: var(--whitec4);
}
.filter-area {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.btn-drop {
  border: 0;
  font-size: 11px;
  font-weight: 700;
  line-height: 16.5px;
  letter-spacing: 1.649999976158142px;
}
.btn-drop option {
  color: var(--black1);
  border: 0;
}
.btn-drop option:hover {
  color: var(--whitec4);
  background-color: var(--black0);
}

#product-card-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 55px 100px; */
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.product-card:hover {
  box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.75);
}
.product-card a {
  text-decoration: none;
}
.product-img {
  position: relative;
}
.product-img img {
  width: 100%;
}
img.product-like {
  width: auto;
}
.product-like {
  position: absolute;
  top: 8px;
  right: 8px;
}
.product-details {
  padding: 8px;
  display: flex;
  gap: 84px;
  justify-content: space-between;
  cursor: pointer;
}
.product-name-with-details h4 {
  font-size: 11px;
  font-weight: 400;
  line-height: 21px;
}
.product-name-with-details p {
  font-size: 11px;
  font-weight: 400;
  line-height: 13.8px;
}
.product-price {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}
.pagination-area {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}
.index-buttons button {
  background-color: var(--whiteF);
  border: none;
  color: var(--black7);
  padding: 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.index-buttons button.active,
.index-buttons button:hover {
  color: var(--black0);
}

/* shop page media */

@media screen and (max-width: 1100px) {
  #product-card-area {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-with-sidebar {
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    padding: 0 25px;
  }
}
@media screen and (max-width: 750px) {
  #product-card-area {
    grid-template-columns: repeat(2, 1fr);
  }
  .filter-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product-with-sidebar {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0 25px;
  }
  .bread-crum-with-dropdown {
    flex-direction: column;
    align-items: start;
    gap: 25px;
  }
  #page-headline-and-discription {
    padding: 0 10%;
  }
}
@media screen and (max-width: 600px) {
  #product-card-area {
    grid-template-columns: 1fr;
  }
  .filter-area {
    gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
}
/* single */
/* product */
/* page */

/* single product page accordian */
.accordion {
  background-color: var(--whiteF);
  color: var(--black3);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-top: 1px solid var(--whitee7);
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: var(--whiteec);
}

.panel {
  padding: 10px 18px;
  display: none;
  overflow: hidden;
}

/* single product page */

.single-product-details-area {
  display: grid;
  grid-template-columns: 9fr 3fr 1fr;
}
.single-product-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-right: 60px;
}
.single-product-images img {
  width: 100%;
}
.single-product-details-with-bredcrum .bread-crum {
  border-top: 1px solid var(--whiteef);
  padding-top: 20px;
}
.single-product-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  padding-top: 15px;
}
.single-product-price {
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
}
.single-product-discription {
  font-size: 12px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  padding: 25px 0px;
}
.single-product-discription div:first-child {
  margin-top: 20px;
}
.size-lebel-area {
  display: flex;
  gap: 100px;
  margin-bottom: 15px;
}
.size-lebel-area p {
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  line-height: 12.65px;
  letter-spacing: 1.100000023841858px;
}
select#single-product-filter-by-size {
  width: 100%;
  height: 50px;
  font-size: 11px;
  font-weight: 400;
  line-height: 24.2px;
  letter-spacing: 1.100000023841858px;
  margin-bottom: 10px;
  cursor: pointer;
}
.add-to-bag-btn {
  /* padding: 15px 135px; */
  width: 100%;
  height: 50px;
  background-color: var(--black0);
  color: var(--whiteF);
  text-decoration: none;
  cursor: pointer;
}
.single-product-add-to-wishlist-area {
  margin-top: 65px;
  margin-bottom: 28px;
}
.single-product-add-to-wishlist-area a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
