#dummy {
  height: 100vh;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--black0);
}
/* variables */
:root {
  --black0: #000000;
  --black1: #111111;
  --black3: #333333;
  --black7: #777777;
  --whiteF: #ffffff;
  --whitec4: #c4c4c4;
}

/* utilitis */
.text-white {
  color: var(--whiteF);
}
/* buttons */
.btn {
  background-color: var(--black0);
  height: 50px;
  width: 152px;
  color: var(--whiteF);
  cursor: pointer;
}
a.btn {
  padding: 14px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.btn-sm {
  height: 30px;
  width: 97 px;
}
.btn-lg {
  width: 204px;
}
.btn-xl {
  width: 324px;
}

.text-bold {
  font-weight: 800;
}

/* top News Letter banner */

#newsletter-banner {
  background-color: var(--black0);
  border: 1px solid #000;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#newsletter-banner a {
  text-decoration: none;
}

/* nav area */

#nav-area {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
  background-color: var(--whiteF);
}
#nav-area .logo {
  font-size: 32px;
  cursor: pointer;
}
#nav {
  display: flex;
  gap: 200px;
  justify-content: space-around;
}

#main-nav {
  margin: auto 0;
}
#main-nav ul {
  display: flex;
  gap: 30px;
}
#main-nav ul li {
  list-style: none;
  padding-bottom: 3px;
}
#main-nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--black0);
}
#main-nav ul li:hover {
  border-bottom: 1px solid var(--black1);
}

#icon-nav ul {
  display: flex;
  gap: 21px;
}
#icon-nav ul li {
  list-style: none;
  cursor: pointer;
}
#icon-nav ul li a {
  text-decoration: none;
}

/* msg icon correction */
#icon-nav > ul > li:nth-child(4) > img {
  margin-top: 5px;
}

/* page when scrolled 
======================
======================
======================*/

.nav-wrapper.page-scrolled #nav-area {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: var(--whiteF);
  width: 100vw;
}

.hero-slider-area.page-scrolled {
  margin-top: 35px;
}

/* hero slider 1 */

#hero-slider-area {
  padding: 0 0px;
}

.hero-1 {
  /* width: 100%; */
  height: 85vh;
  padding: 0 2%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* overflow: hidden; */
}
#hero-slider-area .slick-track {
  height: 85vh;
  position: relative;
}
.slider-1 {
  background: url(img/hero-1.jpg);
}
.slider-2 {
  background: url(img/hero-2.jpg);
  align-items: end;
}
.slider-3 {
  background: url(img/hero-3.jpg);
}
.hero-slider-1-arrow {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
}
.left-arrow-white {
  left: 30px;
}
.right-arrow-white {
  right: 30px;
}

/* shop collection area */

.collection-heading-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 250px;
}

/*  home image carousel*/

.image-carousel-1 {
  padding: 0 60px;
}
.image-carousel {
  margin: 0 5px;
  height: 315px !important;
  width: 315px !important;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.image-carousel img {
  height: 150%;
}
.image-carousel-arrow {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
}

.left-arrow-black {
  left: 10px;
}
.right-arrow-black {
  right: 10px;
}
/* signup offer */
#home-offer-and-signup-area {
  background-image: url(img/home-signup-offer.jpg);
  background-size: 100% 180%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 30px;
  height: 513px;
  margin: 40px auto;
  padding: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
#home-offer-and-signup {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
}

/* home display images */

#home-display-image-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 0px 300px;
}
.home-display-image {
  width: 210px;
  height: 210px;
  overflow: hidden;
}
.home-display-image img {
  width: 100%;
}

/* horizontal-line-before-footer-form */
#horizontal-line-before-footer-form hr {
  margin: 50px auto;
  width: 82vw;
  margin-top: 120px;
}
#footer-social-signup-form {
  display: flex;
  padding: 0 132px;
  align-items: center;
  justify-content: space-between;
}
#social-button-area {
  display: flex;
  gap: 29px;
  margin-left: 80px;
}
.signup-form-area {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.signup-form-area h4 {
  font-size: 15px;
}
.signup-form-area form .footer-signup-form {
  width: 280px;
  height: 30px;
  border: 0;
  border-bottom: 1px solid black;
}

.signup-form-area form .footer-signup-form::placeholder {
  color: var(--whitec4);
}
/* horizontal-line-after-footer-form */
#horizontal-line-after-footer-form hr {
  margin: 50px auto;
  width: 82vw;
  margin-bottom: 80px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
.footer-link-area {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.footer-link-area ul li {
  list-style: none;
  margin-top: 2px;
}
.footer-link-area ul li:first-child {
  margin-top: 15px;
}
.footer-link-area ul li a {
  text-decoration: none;
  font-size: 13px;
  color: var(--black7);
}
.footer-link-area h5 {
  font-size: 10px;
  color: var(--black1);
}
.footer-link-area h6 {
  font-size: 14px;
  color: var(--black7);
}
.footer-link-area p {
  font-size: 13px;
  color: var(--black7);
}
.footer-link-col-2 ul li {
  margin-top: 5px;
}

/* footer copyright */

.footer-copyright-area p {
  margin: 60px auto;
  text-align: center;
  font-size: 11px;
  margin-top: 80px;
  color: var(--black7);
}
.footer-copyright-area p span {
  font-size: 10px;
  color: var(--black3);
  font-weight: 600;
}
/* media queries */
@media screen and (max-width: 1385px) {
  /* nav */
  div#nav {
    gap: 75px;
  }
  /* display images */
  #home-display-image-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  #home-image-carousel .slick-list.draggable {
    overflow: hidden;
    height: 315px;
  }
}
@media screen and (max-width: 1093px) {
  /* .nav-wrapper {
    display: none;
  } */
  /* display images */
  #home-display-image-wrapper {
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 105px;
  }
}
@media screen and (max-width: 785px) {
  /* newsletter banner */
  #newsletter-banner a {
    text-align: center;
    padding: 10px;
  }
  .signup-form-area form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  /* footer */
  #footer-social-signup-form {
    flex-direction: column;
  }
  div#social-button-area {
    margin: auto;
  }
  .signup-form-area h4 {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
  }

  .footer-link-area.container {
    flex-direction: column;
    gap: 20px;
  }
  /* HERO SLIDER */
  .hero-1 {
    align-items: center;
  }
  .hero-1 h2 {
    text-align: center;
  }
  /* display images */
  #home-display-image-wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 15px;
  }

  /* home offer and sign up */
  #home-offer-and-signup-area {
    background-size: 195% 135%;
    background-position: 68% 32%;
  }
  #home-offer-and-signup {
    align-items: center;
  }
  #home-offer-and-signup h2 {
    text-align: center;
  }

  /* home image carousel */
  #home-image-carousel .slick-list.draggable {
    overflow: hidden;
    height: 315px;
  }

  /* home display image */
  #home-display-image-wrapper .home-display-image {
    width: 180px;
    height: 180px;
    overflow: hidden;
  }

  #shop-collection-button-area h2 {
    text-align: center;
  }
}
/* n */
/* a */
/* v */
/* nav */

@media screen and (max-width: 1093px) {
}
